
*{
    margin:0;
    padding:0;
}
.container{
    background-color:aquamarine;
    height: 500px;
    width: 400px;
    border: 2px solid green;
    box-sizing: border-box;
    margin: auto;
}

.title{

    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.input-element{
    width: 90%;
    margin-left: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;

}

.btn{
    padding: 10px;
    width: 150px;
    background-color: green;
    color: white;
    margin-left: 120px;
    border:none;
    border-radius: 5px;
}